@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page - Welcome to CarePlus";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>

@if (SignInManager.IsSignedIn(User) && !User.IsInRole("Administrator"))
{
    <a asp-controller="Home" asp-action="AskAdmin" style="font-size: 26px;">Got a Question? Ask the admin!</a><br />
}

@if (User.IsInRole("Doctor"))
{
    <a asp-controller="Doctors" asp-action="Consult" style="font-size: 26px;">Add a Consultation</a>
}