@{
    Layout = null;
}
<html>
<head>
    <title>page</title>
    <link rel="stylesheet" type="text/css" href="~/css/new.css">
</head>
<body>
    <a asp-area="Identity" asp-page="/Account/Login">
        <div class="container">
            <span class="text1">Welcome to</span>
            <span class="text2">CarePlus</span>
        </div>
    </a>
</body>
</html>