@model Clinic.Models.BindingModels.InsuranceCompanyBindingModel

@{
    ViewData["Title"] = "Create Insurance Company";
    Layout = null;
}
<div class="row">
    <div class="col-md-10">
        <form id="regInsurance" class="register" style="width:80%;" asp-controller="Admins" asp-action="CreateInsuranceCompany" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <input asp-for="Name" placeholder="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <input asp-for="UserName" placeholder="Username" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <input asp-for="Email" placeholder="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <input asp-for="PhoneNumber" placeholder="Phone Number" />
                <span asp-validation-for="PhoneNumber"></span>
            </div>
            <div>
                <input asp-for="Fax" placeholder="Fax Number" />
                <span asp-validation-for="Fax"></span>
            </div>
            <div>
                <input asp-for="Address" placeholder="Address" />
                <span asp-validation-for="Address"></span>
            </div>
            <div>
                <input asp-for="Password" placeholder="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <input asp-for="ConfirmPassword" placeholder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
        </form>
        <div class="form-group">
            <input form="regInsurance" type="submit" value="Create" style="margin-left:27%;" class="btn btn-lg btn-default" />
            <a asp-controller="Home" asp-action="Index" style="margin-left: 7%; border-bottom-width:10px;"><button class="btn btn-lg btn-default">Cancel</button></a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
