@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("Administrator"))
            {
                <li>
                    <a asp-controller="Admins" asp-action="SelfDetails" title="Manage">Profile</a>
                </li>
            }
            else if (User.IsInRole("Doctor"))
            {
                <li>
                    <a asp-controller="Doctors" asp-action="SelfDetails" title="Manage">Profile</a>
                </li>
            }
            else if (User.IsInRole("Patient"))
            {
                <li>
                    <a asp-controller="Patients" asp-action="SelfDetails" title="Manage">Profile</a>
                </li>
            }
            else if (User.IsInRole("Assistant"))
            {
                <li>
                    <a asp-controller="Assistants" asp-action="SelfDetails" title="Manage">Profile</a>
                </li>
            }
            else if (User.IsInRole("InsuranceCompany"))
            {
                <li>
                    <a asp-controller="InsuranceCompanies" asp-action="SelfDetails" title="Manage">Profile</a>
                </li>
            }
            else
            {
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
                </li>
            }
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}

@if (User.IsInRole("Administrator"))
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Doctors" asp-action="Index">Doctors</a></li>
        <li><a asp-controller="Assistants" asp-action="Index">Assistants</a></li>
        <li><a asp-controller="InsuranceCompanies" asp-action="Index">Insurance Companies</a></li>
        <li><a asp-controller="Patients" asp-action="Index">Patients</a></li>
        <li><a asp-controller="Consultations" asp-action="Index">Consultations</a></li>
        <li><a asp-controller="Appointments" asp-action="Index">Appointments</a></li>
        <li><a asp-controller="Admins" asp-action="Inbox">Inbox</a></li>
        <li><a>Reminders</a></li>
        <li><a asp-controller="Admins" asp-action="CreatePeople">Create User</a></li>
    </ul>
}

else if (User.IsInRole("Doctor"))
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Patients" asp-action="Index">Patients</a></li>
        <li><a asp-controller="Consultations" asp-action="Index">Consultations</a></li>
        <li><a asp-controller="Appointments" asp-action="Index">Appointments</a></li>
    </ul>
}

else if (User.IsInRole("Assistant"))
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Patients" asp-action="Index">Patients</a></li>
        <li><a asp-controller="Consultations" asp-action="Index">Consultations</a></li>
        <li><a asp-controller="Appointments" asp-action="Index">Appointments</a></li>
    </ul>
}

else if (User.IsInRole("Patient"))
{
    <ul class="nav navbar-nav navbar-right">
        <li><a>Treatments</a></li>
        <li><a asp-controller="Consultations" asp-action="Index">Consultations</a></li>
        <li><a asp-controller="Doctors" asp-action="Index">Search Doctors</a></li>
        <li><a asp-controller="Appointments" asp-action="Index">Appointments</a></li>
    </ul>
}

else if (User.IsInRole("InsuranceCompany"))
{
    <ul class="nav navbar-nav navbar-right">
        <li><a>Reports</a></li>
    </ul>
}